<h1>Journals</h1>

<ul>
  <% @journals.each do |journal| %>
    <li>
      <%= journal.name %>
      <%= link_to "Show", journal %>
    </li>
  <% end %>
</ul>

<%= link_to "New Journal", new_journal_path %>
