<h1>Journalss</h1>

<ul id="journals">
  <%= turbo_stream_from "journals" do %>
    <% @journals.reload.each do |journal| %>
      <% debugger %>
      <h1> hy</h1>
      <%= render partial: "journal", locals: { journal: journal } %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Journal", new_journal_path, class: "btn btn-primary" %>
